
<meta name = "viewport" content = "width=device-width, intial-scale=1.0" />


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/2.35.0/js/jquery.terminal.min.js"></script>

<link href="https://cdn.jsdelivr.net/gh/jcubic/jquery.terminal@2.34.0/css/jquery.terminal.min.css" rel="stylesheet">
<link href="static/css/style.css" rel="stylesheet">
<script src="static/js/scriptT.js"></script>

<!--
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/2.35.0/css/jquery.terminal.min.css" rel="stylesheet"/>
-->

<title>Meeseeks Bash Terminal</title>
  <body class="full-screen-terminal">
    <!-- Create a div element to hold the terminal output -->
    <div id="terminal"></div>
    <!-- Create a hidden field to store the current directory -->
    <input type="hidden" id="current-directory" value="Home">



  </body>
</html>
